<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>C2B Mestrado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />

    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '308925636253813',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">C2B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a th:if="${usuarioLogado} != ''" th:href="@{/makeLogout}">Logout</a></li>
                <li><a th:if="${usuarioLogado} == ''" th:href="@{/loginUsuario}">Login</a></li>
                <li><a th:if="${usuarioLogado} == ''" th:href="@{/addUsuario}">Cadastro</a></li>
                <li><p class="navbar-brand" th:text="*{usuarioLogado}"></p></li>
            </ul>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid">
    <h3 class="page-header">Lista de Anúncios</h3>
    <form class="form-horizontal" th:object="${anuncio}" th:action="@{/listaBydescricao}" method="POST" style="margin: 10px" >
    <div id="top" class="row">
        <div class="col-md-3">
            <h2>Anúncios</h2>
        </div>

        <div class="col-md-6">
            <div class="input-group h2">
                <input th:field="*{descricao}" name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" />
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
        </div>

        <div class="col-md-3">
            <a th:if="${usuarioLogado} != ''" th:href="@{/add}" class="btn btn-primary pull-right h2">Novo Anúncio</a>
        </div>

    </div> <!-- /#top -->

    <hr />
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th class="actions">Ações</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="anuncio : ${anuncios}">
                    <td th:text="${anuncio.descricao}"></td>
                    <td th:text="${anuncio.descricaoCategria}"></td>
                    <td th:text="${anuncio.valor}"></td>
                    <td class="actions">
                        <a th:if="${usuarioLogado} != ''" class="btn btn-success btn-xs" th:href="@{/detalheAnuncio} + '/'+ ${anuncio.id}">Visualizar</a>
                        <a th:if="${usuarioLogado} != ''" class="btn btn-warning btn-xs" th:href="@{/proposta} + '/'+ ${anuncio.id}">Proposta</a>
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a></div>
                        <div class="fb-share-button" data-href="http://localhost:8090/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8090%2FlistaAnuncios&amp;src=sdkpreparse">Compartilhar</a></div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>    </div> <!-- /#list -->

    </form>
</div>

</body>
</html>