<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>C2B Mestrado</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">C2B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
</nav>

<div id="main" class="container-fluid">
    <hr />
    <h3 class="page-header">Incluir Usuário</h3>
    <form class="form-horizontal" th:object="${usuario}" th:action="@{/saveUsuario}" method="POST" style="margin: 10px" >
        <div class="row">
            <fieldset>
                <div class="form-group col-md-4">
                    <label>Tipo do Usuário</label>
                    <select th:field="*{tipo}" class="form-control" autofocus="autofocus">
                        <option th:each="dropDownItem : ${tipoLista}"
                                th:value="${dropDownItem.id}"
                                th:text="${dropDownItem.descricao}" />
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label>Nome do Usuário</label>
                    <input th:field="*{nome}" type="text" class="form-control" id="descricao" autofocus="autofocus"
                           placeholder="Informe o nome" maxlength="50"/>
                </div>

                <div class="form-group col-md-4">
                    <label>CPF/CNPJ</label>
                    <input th:field="*{cpfCnpj}" type="text" class="form-control" id="cpf" autofocus="autofocus"
                           placeholder="Informe o CPF/CNPJ" maxlength="50"/>
                </div>

                <div class="form-group col-md-4">
                    <label>E-mail</label>
                    <input th:field="*{email}" type="text" class="form-control" id="email" autofocus="autofocus"
                           placeholder="Informe o e-mail"/>
                </div>

                <div class="form-group col-md-4">
                    <label>Categoria</label>
                    <select th:field="*{idCategoria}" class="form-control" >
                        <option th:each="dropDownItem : ${categoriaList}"
                                th:value="${dropDownItem.id}"
                                th:text="${dropDownItem.descricao}" />
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label>Senha</label>
                    <input th:field="*{senha}" type="password" class="form-control" id="senha" autofocus="autofocus"
                           placeholder="Informe a senha"/>
                </div>
            </fieldset>
        </div>
        <hr />
        <div id="actions" class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a th:href="@{/listaAnuncios}" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </form>

</div>

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</body>
</html>