<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>C2B Mestrado</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />

    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

</head>
<h3>Conectado no Facebook</h3>

<p>
    You are now connected to your Facebook account.
    Click <a href="/">here</a> to see some entries from your Facebook feed.
</p>
</body>
</html>